@import "tailwindcss";

body {
  font-family: sans-serif;
  padding: 20px;
}
#animation-container {
  border: 1px solid #ccc;
  width: auto; /* 幅を自動調整 */
  max-height:90px; /* 2行分の画像の高さ + パディング */
  min-height: 90px; /* 最小高さを保持 */
  margin-top: 20px;
  display: flex;
  white-space: nowrap; /* 画像を折り返さない */
  justify-content: flex-start; /* 左から配置 */
  align-items: flex-start; /* 上から配置 */
  overflow-x: auto; /* 横スクロールを可能にする */
  overflow-y: hidden; /* 縦スクロールは隠す */
  padding: 5px; /* パディングを追加 */
}
#animation-frame {
  max-width: 100%;
  max-height: 100%;
} 